<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
    <body>
<h1>Welcome to ABC Telcom Ltd. Complaint Redressal System!</h1>
<!-- <h4>Login below to avail services like raising tickets,
   traking the tickets, communicating status, resolving the tickets etc.</h4> -->
   <!-- <p>Click <a routerLink="/login/admin">Here</a> to login, if you are an Admin</p>
   <p>Click <a routerLink="/login/manager">Here</a> to login, if you are a Manager</p>
   <p>Click <a routerLink="/login/engineer">Here</a> to login, if you are an Engineer</p>
   <p>Click <a routerLink="/login/customer">Here</a> to login, if you are a Customer</p> -->

    <router-outlet></router-outlet>

    </body>
</html>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

